<div class="well">
  <div class="row">
      <h4 class="text-center"><%= product.name %></h4>
      <%=image_tag(product.image, class: "product-image center-block")%>
      <%= form_for order_item, remote: true do |f| %>
        <div class="delete-button">
          <%= link_to "Delete", order_item, method: :delete, remote: true, class: "btn btn-danger" %>
        </div>
        <h4 class="text-center">Total Price for <%=order_item.quantity%> Items: <span style="color: green"><%=order_item.total_price %></span></h4>
      <% end %>
  </div>
</div>
