<div class='container'>
  <div class='row'>
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <%@products.each do |product|%>
      <div class='col-md-5 product-box'>
        <h5 class='product-name'><%=product.name%></h5>
        <%= image_tag(product.image, class: "product-image center-block") %>
        <p class='product-detail'><i>Colour:</i> <b><%=product.colour%></b></p>
        <p class='product-detail'><i>Category:</i> <b><%=product.category%></b></p>
        <p class='product-detail'><i>Price:</i> <b>£<%=number_with_precision(product.price, precision: 2)%></b>

        <div class="product_index-<%= product.id %>" align="center">
          <%= render partial: "stock_content", locals: { builder: product } %>
        </div>

        <%= form_for @order_item, remote: true do | f | %>
            <% if product.stock >= 1 %>
              <div class="input-group">
                <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: product.stock %>
                <%= f.hidden_field :product_id, value: product.id %>
                <div class="input-group-btn">
                  <%= f.submit "Add to Cart", class: "btn btn-primary", :id => "product-#{product.id}" %>
                </div>
              </div>
            <% end%>
        <% end %>
      </div>

    <%end%>
  </div>
  </div>
</div>
